#divContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding-bottom: 70px;
}

#divFaixa{
    width: 100vw;
    background-color:#000000;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#divFaixa #divAccessibility{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#divFaixa #divAccessibility .div-font-size{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #27ae60;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    align-self: center;
}

#divFaixa #divAccessibility label{
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #FFF;
}

.navbar{
	background-color: #26AE60;
	width: 100%;
	font-size: 1.15rem;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

.navbar .div-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .div-menu a{
	text-decoration: none;
}

.navbar .div-menu .txt-menu-item{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    margin-left: 30px;
}

.txt-menu-item{
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-image {
    width: 272px;
    height: 40px;
}

.search-input{
	border-color:rgba(255, 0, 0, 0.7);
    height: 30px;
    width: 500px;
	border-radius: 0.4em;
    margin: 1em;
    background-image:  url(../img/magglass.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position-y: center;
    background-position-x: 95%;
}

.search-icon{
    color: #FFF;
    font-size: 30px;
}

.accessibility-icon{
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #FFF;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mode-icon{
    color:  #FFF;
    font-size: 18px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#divBanner{
    background-image: url("../img/home-banners/wanda-vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#divBanner #divBannerInfo{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
}

#divBanner #divBannerInfo #txtBannerTitle{
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: #FFF;
    margin: 0;
    padding: 0;
}

#divBanner #divBannerInfo #txtBannerSubtitle{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFF;
    margin: 0;
    padding: 0;
}

#divBanner #divDots{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF;
    margin-left: 3px;
}

.dot-outline{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border:solid 2px #FFF;
    margin-left: 3px;
}

.div-section-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    margin-top: 20px;
}

.div-section-title .div-bar-icon{
    background-color:#27ae60;
    height: 28px;
    width: 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.div-section-title .txt-section-title{
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    line-height: 28px;
}

.div-info-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}

.row{
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}

.data-input{
	border-color: #C0392B;
	border-width: 0.25em;
	height: 25px;
	width: 400px;
	border-radius: 0.4em;
	margin: 1em;
    margin-top: 18px;
	background-repeat: no-repeat;
	background-size: 12%;
	background-position-y: center;
	background-position-x: 95%;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.div-centered-info-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-left: 40px;
    margin-top: 15px;
}

.div-info-grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 310px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #FFF;
	border-style: solid;
	border-color: #26AE60;
}

.buttonText{
    font-size: 18px;
    background-color: #27ae60; /* Green */
    color: white;
    padding: 15px 22px;
    font-size: 16px;
}

.div-info-grid a{
    text-decoration: none;
}

.div-info-grid .div-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.div-info-grid .img-poster{
    width: 167px;
    height: 250px;
    border-radius: 5px;
}

.div-info-grid .txt-series-info{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    line-height: 16px;
}

.div-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon{
    color:#27ae60;
}

.user-image{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}