#divUserLists{
	background-color: #313131 !important;
}

.container{
	color: #FFF;
	background-color: #313131 !important;
}

.divContent{
	color: #FFF;
	background-color: #313131 !important;
}

#divResults .row{
	background-color: #000000 !important;
}

.divInfo{
	color: #FFF;
	background-color: #000000 !important;
}