#divContainer{
    background-color: #313131 !important;
}

#divSpecificInformations .div-row .txt-label{
    color: #FFF !important;
}

.txt-label{
    color: #FFF !important;
}

#divSpecificInformations .div-row .txt-info{
    color: #FFF !important;
}

#divInformations p{
    color: #FFF !important;
}

.div-seasons .div-season {
    background-color: #292929 !important;
}

.div-season-content .div-episodes-grid .div-episode {
    background-color: #292929 !important;
}

.div-season-content .div-episodes-grid .div-episode .div-episode-info .txt-episode-title{
    color: #FFF !important;
}

.div-episode .div-episode-info .div-episode-footer .div-episode-rating .txt-episode-rating{ 
    color: #FFF !important;
}

.div-episode .div-episode-info .div-episode-footer .txt-exhibiton-date{ 
    color: #FFF !important;
}

.div-season .div-right-side .div-rating .txt-season-rating{
    color: #FFF !important;
}

#divFaixa{
    background-color: #313131 !important;
}