#divContainer{
    background-color: #313131 !important;
}

.div-section-title .txt-section-title{
    color: #FFF !important;
}

.div-series-grid .div-series .txt-series-info{
    color: #FFF !important;
}

#divFaixa{
	background-color: #313131 !important;
}