<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <!--<link rel="stylesheet" href="/css/index-dark.css" />-->

        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>
    </head>
    <body id="index">
        <div id="divContainer">
            <div id="divFaixa">
                <div id="divAccessibility">
                    <div class="div-font-size"><button class="A+ accessibility-icon">A+</button></div>
                    <div class="div-font-size"><button class="A accessibility-icon">A</button></div>
                    <div class="div-font-size"><button class="A- accessibility-icon">A-</button></div>
                    <div class="div-font-size"><button class="material-icons mode-icon">nightlight_round</button></div>
                </div>
            </div>

            <nav id="nav-placeholder">
				<div class="navbar">						
					<a href="index.html"><img src="/img/name_with_logo.png" class="logo-image" alt="Logo Maratomator"></a>
					<div class="div-menu">
                        <a href="user-home.html"><h2 class="txt-menu-item">Home</h2></a>
						<a href=""><h2 class="txt-menu-item">Buscar</h2></a>
					</div>						
					<div class="div-menu">
                        <a href="authentication"><h2 class="txt-menu-item">Cadastre-se/Entrar</h2></a>
						<input class="search-input">
                    </div>
                    <div class="div-menu">
                    </div>			
				</div>
            </nav>

            <div id="divBanner">
                <div id="divBannerInfo">
                    <h2 id="txtBannerTitle">WandaVision</h2>
                    <h4 id="txtBannerSubtitle">Mistura o estilo de sitcoms clássicas com o Universo Cinematográfico da Marvel, 
                        e acompanha Wanda Maximoff (Elizabeth Olsen) e o Visão (Paul Bettany), dois super-seres vivendo uma 
                        vida ideal no subúrbio, começando a suspeitar que nem tudo é o que parece</h4>
                    <div id="divDots">
                        <div class="dot-outline"></div>
                        <div class="dot"></div>
                        <div class="dot-outline"></div>
                        <div class="dot-outline"></div>
                    </div>
                </div>
            </div>

            <div class="div-section-title">
                <div class="div-bar-icon"></div>
                <div><h1 class="txt-section-title">Em Alta</h1></div>
            </div>
            <div class="div-series-grid">

                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/wanda-vision.jpg" alt="WandaVision" />
                        <h4 class="txt-series-info">WandaVision</h4>
                    </a>    
                </div>
                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/fate-winx.jpg" alt="Winx Saga" />
                        <h4 class="txt-series-info">Fate: Winx Saga</h4>
                    </a>
                </div>
                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/lupin.jpg" alt="Lupin" />
                        <h4 class="txt-series-info">Lupin</h4>
                    </a>
                </div>
                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/attack-on-titan.jpg" alt="attack-on-titan" />
                        <h4 class="txt-series-info">Attack on Titan</h4>
                    </a>
                </div>
                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/snowpiercer.jpg" alt="Snowpiercer" />
                        <h4 class="txt-series-info">Snowpiercer</h4>
                    </a>
                </div>
                <div class="div-series">
                    <a href="tv-series-page.html">
                        <img class="img-poster" src="/img/home-em-alta/euphoria.jpg" alt="Euphoria" />
                        <h4 class="txt-series-info">Euphoria</h4>
                    </a>
                </div>

                <i class="fas fa-caret-square-right fa-3x icon"></i>
            </div>

            <div class="div-section-title">
                <div class="div-bar-icon"></div>
                <div><h1 class="txt-section-title">Mais Assistidas</h1></div>
            </div>
            <div class="div-series-grid">

                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/stranger-things.jpg" alt="Stranger Things" />
                    <h4 class="txt-series-info">Stranger Things</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/friends.jpg" alt="Friends" />
                    <h4 class="txt-series-info">Friends</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/greys-anatomy.jpg" alt="Grey's Anatomy" />
                    <h4 class="txt-series-info">Grey's Anatomy</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/la-casa-de-papel.jpg" alt="La Casa de Papel" />
                    <h4 class="txt-series-info">La Casa de Papel</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/black-mirror.jpg" alt="Black Mirror" />
                    <h4 class="txt-series-info">Black Mirror</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/home-mais-assistidas/lucifer.jpg" alt="Lucifer" />
                    <h4 class="txt-series-info">Lucifer</h4>
                </div>

                <i class="fas fa-caret-square-right fa-3x icon"></i>
            </div>

            <div class="div-section-title">
                <div class="div-bar-icon"></div>
                <div><h1 class="txt-section-title">Ranking de Séries</h1></div>
            </div>
            <div class="div-series-grid">

                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/band-of-brothers.jpg" alt="Band of Brothers" />
                    <h4 class="txt-series-info">Band of Brothers</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/breaking-bad.jpg" alt="Breaking Bad" />
                    <h4 class="txt-series-info">Breaking Bad</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/chernobyl.jpg" alt="Chernobyl" />
                    <h4 class="txt-series-info">Chernobyl</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/the-wire.jpg" alt="The Wire" />
                    <h4 class="txt-series-info">The Wire</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/game-of-thrones.jpg" alt="Game of Thrones" />
                    <h4 class="txt-series-info">Game of Thrones</h4>
                </div>
                <div class="div-series">
                    <img class="img-poster" src="/img/ranking/avatar.jpg" alt="Avatar" />
                    <h4 class="txt-series-info">Avatar</h4>
                </div>

                <i class="fas fa-caret-square-right fa-3x icon"></i>
            </div>
        </div>
        <!--Custom js-->
        <script src="/js/layout-management/index.js"></script>
    </body>
</html>